---
layout: default
title: Snippets
---

<ul style="position:absolute;left:-9999px;">
{% for item in site.pages %}<li><a href="#!{{ item.url }}">{{ item.title }}</a></li>
<li><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<span href="{{site.new_path}}" class="add-snippet" target="_blank">+<b>添加 Snippet</b></span>
<div class="search-mask"><i class="icon search-close" title="关闭">
  <img width="50" heght="50" src="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/autoupload/2022-04-13/31e000e868fb4d06a04b1419a29a3c36.close (4).png" />
</i></div>
<div class="codeTypes" id="codeTypes"></div>
<div class="codePreview" id="codePreview">
  <div class="search">
    <span class="search-info"></span>
    <input type="text" placeholder="按 Enter 展示结果" id="q" name="q" autocomplete="false" />
  </div>
	<div class="typeList" id="typeList"></div>
	<div class="codebox" id="codebox" data-baseurl="{{site.edit_path}}">
		<i class="icon close" id="close" title="关闭预览">
      <img width="16" height="16" src="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/autoupload/2022-04-13/40e7590b3c8841f3a5c8c81415d70f5a.close (3).png" />
    </i>
    <a class="icon pen" title="编辑代码" href="#" target="_blank">
      <img width="16" height="16" src="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/autoupload/2022-04-13/901403d934f240a9938acaf6bc8035a0.edit.png" />
    </a>
		<div class="code" id="code">
      <i class="icon close" id="close">
        <img width="16" height="16" src="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/autoupload/2022-04-13/40e7590b3c8841f3a5c8c81415d70f5a.close (3).png" />
      </i>
      <div class="codectt" id="codectt"></div>
    </div>
	</div>
</div>

<script>
var snippets = [
{% for item in site.pages %}{% assign type = item.dir | split: "/" %}  {% if type != '/' %}{ type: "{{ type[2] }}", title: "{{ item.title }}", url: "{{ item.url }}" },{% endif %}
{% endfor %}{}].slice(0, -1);
</script>
