<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta name="fragment" content="!">
<title>{{ page.title }} -- 敖武 snippet</title>
<meta name="description" content="敖武的Snippets,代码片段,管理工具" />
<meta name="keywords" content="分享技术,分享生活,敖武的博客" />
<meta name="viewport" content="width=device-width,height=device-height,user-scalable=0">
<link rel="stylesheet" href="public/css/main.css" />
</head>

<body>
<div class="progress" id="progress">
  <div></div>
</div>
<div class="header">
  <a href="{{site.base}}"><h1>代码片段</h1></a>
  <ul>
    <li><a href="{{site.home}}" target="_blank">敖武的博客</a></li>
    <li><a href="{{site.github}}" target="_blank">
      <img style="padding-top: 10px;" width="30" src="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/autoupload/2022-04-15/6001e7910411495db787234a01e720ce.GitHub (2).svg" />
    </a></li>
  </ul>
</div>
<div class="container">
  {{ content }}

</div>
<script src="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/js/hl.js"></script>
<script src="public/js/main.js?v=1"></script>
</body>
</html>
