<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta name="fragment" content="!">
<title>{{ page.title }} | 敖武 snippet 分享</title>
<meta name="description" content="敖武的代码收藏夹，Snippets 管理工具" />
<meta name="keywords" content="分享技术,分享生活,snippets,aowu,敖武" />
<meta name="email" content="{{site.email}}" />
<meta name="author" content="{{site.weibo}}" />
<meta name="viewport" content="width=device-width,height=device-height,user-scalable=0">
<link rel="stylesheet" href="public/css/main.css?v=1" />
</head>

<body>
<div class="progress" id="progress">
  <div></div>
</div>
<div class="header">
  <a href="{{site.base}}"><h1>代码片段</h1></a>
  <ul>
    <li><a href="{{site.home}}" target="_blank">敖武的博客</a></li>
  </ul>
</div>
<div class="container">
  {{ content }}

</div>
<script src="public/js/hl.js"></script>
<script src="public/js/main.js?v=1"></script>
</body>
</html>
