<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta name="fragment" content="!">
<title>{{ page.title }} -- 敖武的 snippet</title>
<meta name="description" content="敖武的Snippets,代码片段,管理工具" />
<meta name="keywords" content="分享技术,分享生活,敖武的博客" />
<meta name="viewport" content="width=device-width,height=device-height,user-scalable=0">
</head>

<body>
<div class="progress" id="progress">
  <div></div>
</div>
<div>
  <div class="statement">
    <p><strong>作者: </strong>{{site.author_info}}</p>
  </div>
  {{ content }}
</div>
</body>
</html>
